body{
  margin: 0;
  padding: 0;
}
.button-collapse{
  float: right;
  margin: 50px 50px 0 0;
}

.text-name{
  font-family: 'Kanit', sans-serif;
  margin-top: 200px;
  color: #fff;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.github{
  padding: 0;
}
.sub-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  height: 100vh;
}
#home{
  background-color: #000;
    background: linear-gradient(#667eea, #764ba2);
}
#conteudo{
  background-color: red;
}

/*Small*/
@media screen and (max-width: 767px) {
  .text-name{
    font-family: 'Kanit', sans-serif;
    margin-top: 400px;
    color: #fff;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .text-name{
    font-family: 'Kanit', sans-serif;
    margin-top: 200px;
    color: #fff;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*Computer*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .text-name{
    font-family: 'Kanit', sans-serif;
    margin-top: 170px;
    color: #fff;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* > Computer*/
@media screen and (min-width: 1200px) {
  .text-name{
    font-family: 'Kanit', sans-serif;
    margin-top: 170px;
    color: #fff;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
}
